@model PotluckWebApp.Models.MemberViewModel

@{
    ViewBag.Title = "Members";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Name
            @*@Html.DisplayNameFor(model => model.Member.FirstName)*@
        </th>    
        <th>
            Totals
        </th>
        <th></th>
    </tr>
    @for (int m = 0; m < Model.Members.Count; m++)
    {
        float totalAmount = 0;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Members[m].Name)
            </td>
            @for (int c = 0; c < Model.Potlucks.Count; c++)
            {
                if (Model.Potlucks[c].Host == Model.Members[m].Id)
                {
                    totalAmount += float.Parse(Model.Potlucks[c].Cost.ToString());
                }
            }
            <td>
                $@Html.DisplayFor(amount => totalAmount)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CoffeeDateNo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CoffeeDateNo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CoffeeDateNo })
                </td>*@
        </tr>
    }

</table>
